body{
    background-color: #736A5A;
}
.sticky{
    position: sticky;
    top:350px;
    margin: 200px;
    
}
.space{
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-bg{
    background-color: #A3907A !important;
    margin-top: 5px;
    color: whitesmoke;
    font-size: 24px;
}
.list-bg:hover{
    background-color: #998273 !important;

}
.left{
background-color: #8C8270;
}
.right{
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar{
    background-color:  #A3907A !important;
}

button{
    background-color: #A3907A !important;
    border-color: black !important;
    border-width: 3px !important;
}
a{
    background-color: #A3907A !important;
    border-color: black !important;
    border-width: 3px !important;
}
.badge{
    background-color: #736A5A !important; 
}
.modal-content{
    background-color: #A3907A;
    border: #736A5A solid 5px;
}
img{
    margin:auto;
    width: 100px !important;
    height: 100px !important;
}

@media only screen and (max-width: 768px) {
   .sticky {
    position: relative;
    width: 100%;
    top:auto;
    display: flexbox;
    margin: auto;

    }
  }