:root {
    --coffee: #524433;
    --mocha: #736A5A;
    --iced: #8C8270;
    --latte: #A3907A;
}

body {
    background-color: var(--mocha);
    color: var(--coffee);
}

.navbar {
    background-color: var(--latte) !important;
    border-bottom: solid var(--coffee) 3px !important;
}

h1 {
    font-size: 60px;
}

.btn-custom {
    width: 25%;
}

a{
    background-color: var(--latte) !important;
    color: var(--coffee) !important;
    border: solid var(--coffee) 3px !important;
}

.centered {
    padding: 100px 0;
}

.custom-bg {
    background-color: var(--iced);
}

.custom-text {
    color: var(--coffee);
}

.custom-box {
    height: 75%;
    width: 75%;
    background-color: var(--iced);
    border: double var(--coffee) 5px;
    border-radius: 0.375rem;
}