.customCard {
  margin: 20px;
  background-color: #cdc1b3;
}
.navbar {
  background-color: #a3907a !important;
}

button {
  background-color: #a3907a !important;
  border-color: black !important;
  border-width: 3px !important;
}
a {
  background-color: #a3907a !important;
  border-color: black !important;
  border-width: 3px !important;
}
body {
  background-color: #736a5a;
}
