<div class="col flex-column" style="width: 20rem">
  <div
    class="card text-center customCard animate__animated animate__slideInLeft"
  >
    <div class="card-body">
      <h5 class="card-title">Location {{location.id}}</h5>
      <a href="#" class="btn btn-primary">Navigate Here</a>
    </div>
  </div>
</div>