<div class="custom-bg vh-100 w-75 container text-center postion-relative">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1
      id="title"
      class="my-5 animate__animated animate__lightSpeedInLeft"
    >BackStock</h1>
    <img src="/images/shelf.png" />
    <br />
    <br />
    <p class="fs-3">Welcome back {{userName}}!</p>
    <div class="d-grid gap-3">
      {{! Redirect to backstock page }}
      <a href="/locations" id="add" class="btn btn-primary" role="button">Add to
        Backroom</a>
    </div>
  </div>
</div>

<script src="./javascript/homepage.js"></script>