<main class="centered d-flex align-items-center justify-content-center">
    <div class="custom-box d-flex align-items-center justify-content-center text-center p-3">
        <div class="layout w-100 h-100 animate__animated animate__pulse">
            <h1 id="title" class="mb-5">BackStock</h1>
            <br>
            <img id="boxes" src="/images/boxes-small.png">
            <br>
            <br>
            <a href="/login" id="login-btn" class="btn btn-primary btn-custom mt-5" role="button">Log In</a>
        </div>

</main>

<script src="/javascript/landingpage.js"></script>