<main class="centered d-flex align-items-center justify-content-center">
    <div class="custom-box text-center p-5">
        <div class="animate__animated animate__fadeInUp">
            <h1 id="title" class="my-5">BackStock</h1>
            <img src="./images/boxes-small.png">
            <br>
            <br>

            {{#if logged_in}}
            {{!-- If logged in button redirets to homepage --}}
            <a href="./homepage.html" id="btn" class="btn btn-primary btn-custom" role="button">Begin</a>
            {{else}}

            {{!-- If not logged in button redirets to login page --}}
            <a href="/login" id="login" class="btn btn-primary btn-custom" role="button">Log In</a>
            {{/if}}
        </div>

</main>

<script src="/template/landingpage.js"></script>