<main class="centered d-flex align-items-center justify-content-center">
    <div class="custom-box text-center p-3 position-relative">
        <div class="position-absolute top-50 start-50 translate-middle animate__animated animate__fadeInUp">
            <h1 id="title">BackStock</h1>
            <img src="/images/boxes-small.png">
            <br>
            <a href="/login" id="login-btn" class="btn btn-primary btn-custom" role="button">Log In</a>
        </div>

</main>

<script src="/javascript/landingpage.js"></script>