<section class="centered-form">
  <div class="container">
    <div class="row row-cols-auto">
      {{#each locations as |location|}}
        <div class="col flex-column" style="width: 20rem">
          <div
            class="card text-center customCard animate__animated animate__slideInLeft"
          >
            <div class="card-body">
              {{!-- {{> location-details}} --}}
              <h5 class="card-title"> Location {{location.id}}</h5>
              <a
                href="/backstock/{{location.id}}"
                id="navigate{{location.id}}"
                class="btn btn-primary navigate"
              >Navigate Here</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    
  </div>
</section>

<script src="./javascript/locations-page.js"></script>