<main class="container d-flex flex-wrap justify-content-center centered-form">
  {{! Login form  }}
  <form class="m-4 px-3 py-5" id="loginForm">
    <div class="container">
      <h1 class="text-center pb-2">Login</h1>
      <label>Email</label>
      <input class="form-control mb-2" name="memberId" type="text" autofocus id="email-login"/>
      <label>Password</label>
      <input class="form-control mb-2" name="password" type="password" id="password-login"/>
      <div class="text-center">
        {{! Send user to homepage when logged in}}
        <button
          id="login-button"
          class="btn btn-primary mt-3"
          role="button"
        >Log In</a>
      </div>
    </div>
  </form>

  {{! Sign up form  }}
  <form class="m-4 px-3 py-5" id="signupForm">
    <div class="container">
      <h1 class="text-center pb-2">Sign Up</h1>
      <label>Name</label>
      <input
        class="form-control mb-2"
        name="user"
        type="text"
        id="name-signup"
        autofocus
      />
      <label>Email</label>
      <input
        class="form-control mb-2"
        name="memberId"
        type="text"
        id="email-signup"
        autofocus
      />
      <label>Password</label>
      <input
        class="form-control mb-2"
        name="password"
        type="password"
        id="password-signup"
      />
      <div class="text-center">
        {{! Needs to create user when clicked }}
        <button
          id="signup-button"
          class="btn btn-primary mt-3"
          type="submit"
          form="registerForm"
        >Sign Up</button>
      </div>
    </div>
  </form>

</main>
{{!login}}
<script src="/javascript/login-page.js"></script>
<script src="/javascript/login.js"></script>